PORT=5001
SECRET=change_this_jwt_secret

DATABASE_URL="mysql://root:1234@localhost:3306/roitai_ecom"

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

STRIPE_SECRET_KEY=
CLIENT_URL=http://localhost:5173
